<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="stylesheet" href="../stylesheets/utilities.css">

<nav id="navbar">

  <div id="nav-logo">
    <h3><i class="fas fa-video"></i></h3>
  </div>
  <div id="nav-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li>
      <!-- <li><a href="http://omdbapi.com/" target="_blank">OMDB API</a></li>
      <li><a href="https://source.unsplash.com/" target="_blank">Unsplash API</a></li> -->
    </ul>
  </div>

</nav>