<nav id="navbar">

  <div id="nav-logo">
    <h3><i class="fas fa-video"></i></h3>
  </div>
  <div id="nav-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li>
    </ul>
  </div>

</nav>