<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Search || Welcome</title>
</head>

<body>
  <%- include('partials/header') %>

  <main class="hero">
    <section class="content">
      <h1>Welcome to the movie search app.</h1>
      <p>This app is made possible by the OMDB API and the Unsplash API.</p>
    </section>
  </main>

  <%- include('partials/footer') %>
</body>

</html>