@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}


#navbar {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* position: fixed;
  top: 0; */
  padding: 0 30px;
  background-color: #f4f4f4;
  height: 10vh;
}

#nav-links ul {
display: flex;
flex: 0;
flex-wrap: wrap;
list-style: none;
}

#nav-links a {
  color: #333;
  padding: 10px 20px;
  margin: 0 5px;
  text-decoration: none;
}

#nav-links a:hover{
  color: #fff;
  background-color: #156fed;
}

#navbar #nav-logo {
  font-weight: 800;
  padding: 10px 0;
}


/* Landing Content */

.hero {
  background: url(https://source.unsplash.com/1600x900/weekly/?pattern,dark) no-repeat center center/cover;
  height: 90vh;
  position: relative;
  color: #f3f3f3;
}

.hero .content{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
height: 100%;
padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 20px;
  max-width: 600px;
  margin: 20px 0 30px;
}

#search {
  background: url(https://source.unsplash.com/1600x900/weekly/?pattern,dark) no-repeat center center/cover;
  height: 90vh;
  position: relative;
  color: #aaaaaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#search h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.5rem;
}

#search form {
  margin: 10px 0;
}

#search form input {
  padding:5px 0;
  border-radius: 5px;
}

#search form select{
  padding:5px 0 ;
  border-radius: 5px;
}

#general-search {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #cecece;
}

#general-search .search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#general-search .search-result h1 {
  font-weight: 500;
  color: #333;
}

#general-search.search-result h2{
  font-weight: 500;
  color: #333;
}

#general-search img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

#specific-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #cecece;
}

#specific-search .search-result h1  {
  font-weight: 500;
  color: #333;
}

#specific-search h3{
font-weight: 500;
color: #333;
}

#specific-search .search-result p {
  font-size: 20px;
  color: #333;
}

#specific-search .search-result img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}